.page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-shadow: -6px 6px 4px rgb(172, 169, 169);
    color: rgb(13, 13, 14);
}
.line{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.content{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    padding-top: 2%;
    padding-bottom: 2%;
}
#header{
   background-image:url(img/fon-meny.webp);
   background-size:cover;
}
.nav{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    box-sizing: border-box;
}
.nav__link{
    padding-top: 2.5%;
    padding-right: 2.5%;
    color: rgb(13, 13, 14);
    font-size: 100%;
    font-weight: bolder;
}
.caption{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    font-weight: bolder;
}
#biography{
    background-color: #dbe9e3;
    height: 800px;
 }
 .rubric{   
    height: 7%;
    font-size: 180%;
    align-self:center;
    font-weight: bold;
    padding-bottom: 3%;
 }
 .text{
     width: 100%;
     height: 20%;
     font-size: 90%;
 }
 .paragraph{
     padding-bottom: 2%;
 }
 .photo{
    height: 100%;
    object-fit: cover;
    align-self: center;
 }
 #skills{
    background-color: #dbe9e3;
    height: 300px;
 }
 .block-skills{
    height: 93%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
 }
 .skill{
     background-color: #dbe9e3;
     padding: 2%;
     border: 1px solid black;
     border-radius: 20px;
     background-color: #F9DA8B;
     font-weight: bold;
 }
 #sides{
    background-color: #dbe9e3;
    height: 250px;
 }
 .list{
    height: 30%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
 }
li{
    height: 70%;
}
 li:before {
    content: "✍";  
  }
 #work{
    background-color: #dbe9e3;
    height: 300px;
 }
 .ctroca-portvolio{
     height: 70%;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 .portvolio{
     width: calc(100%/3.2);
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     box-sizing: border-box;
     padding-top: 1%;
     padding-bottom: 1%;
}
.img-work{
    width: 100%;
    height: 85%;
    background-color: rgb(153, 153, 153);
    border-radius: 5%;
}
 #contacts{
     background-image:url(img/fon-meny.webp);
     background-size:cover;
      background-position: bottom;
 }
 .icons{
     width: 80%;
     height: 80%;
 }
 .blok-content{
     display: flex;
     flex-direction: row;
 }
 .icons-content{
    width: 10%;
    display: flex;
    flex-direction: column;
 }
 .telephon{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-top: 2%;
 }
 


    